body,
html {
  overflow-x: hidden;
  font-family: "Inter Tight", sans-serif;
  &.overflow {
    overflow: hidden !important;
  }
}

body {
  @include flex;
  @include dir-col;
  @include justify-between;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
  color: #080807;
}

// font-family: "Oranienbaum", serif;

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
  &:focus {
    outline: none;
    border: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}


.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  @media (max-width: 1400px) {
    padding: 0 16px;
  }
}

.footer{
  padding: 140px 0 30px;
  background: white;
  @media (max-width: 1300px) {
    padding-top: 100px;
  }
  @media (max-width: 767px) {
    padding-bottom: 20px;
   }
  .footer-top-info{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }
    .footer-logo{
      max-width: 555px;
      width: 100%;
      display: flex;
      @media (max-width: 1300px) {
        max-width: 380px;
        img{
          width: 360px;
        }
      }
      @media (max-width: 767px) {
       max-width: 290px;
       img{
        width: 100%;
       }
      }
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    .time{
      display: flex;
      flex-direction: column;
      @media (max-width: 1300px) {
        margin: auto;
      }
      @media (max-width: 1024px) {
        margin: 24px 0;
      }
      span{
        color: rgba(10, 10, 10, 0.70);
        margin-bottom: 6px;
        font-size: 16px;
      }
      b{
        font-size: 18px;
        font-weight: 600;
        @media (max-width: 1300px) {
          font-size: 16px;
        }
      }
    }
    .contact-info{
      margin-left: auto;
      max-width: 440px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1300px) {
        max-width: 380px;
      }
      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
      }
      .address{
        max-width: 190px;
        color: rgba(10, 10, 10, 0.70);
        font-size: 16px;
        @media (max-width: 1024px) {
          margin-top: 24px;
          max-width: 100%;
        }
      }
      .links{
        display: flex;
        flex-direction: column;
        .email-link{
          color: rgba(10, 10, 10, 0.70);
          margin-bottom: 6px;
          font-size: 16px;
        }
        .phone-link{
          font-size: 18px;
          font-weight: 600;
          @media (max-width: 1300px) {
            font-size: 16px;
          }
        }
      }
    }
  }
  .footer-middle-info{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: 767px) {
      margin-bottom: 16px;
     }
    .footer-links{
      max-width: 555px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      @media (max-width: 1300px) {
        max-width: 380px;
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 12px;
       }
      a{
        font-size: 18px;
        color: #080807;
        @media (max-width: 1300px) {
          font-size: 16px;
        }
        &:hover{
          color: #FF6E00;
        }
      }
    }
    .social-wrap{
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 1300px) {
        margin: auto;
        margin-top: 27px;
        max-width: 180px;
        width: 100%;
      }
      @media (max-width: 1024px) {
        margin: 0;
      }
      @media (max-width: 767px) {
        margin-top: 12px;
       }
      > a{
        font-size: 18px;
        color: #080807;
        margin-bottom: 16px;
        @media (max-width: 1300px) {
          font-size: 16px;
        }
        @media (max-width: 767px) {
          margin-bottom: 12px;
         }
        &:hover{
          color: #FF6E00;
        }
      }
      .icons{
        display: flex;
        gap: 16px;
        .icon{
          width: 32px;
          height: 32px;
          display: flex;
          background: #080807;
          &:hover{
            background: #FF6E00;
          }
          img{
            margin: auto;
          }
        }
      }
    }
    .subscribe{
      width: 100%;
      max-width: 440px;
      margin-left: auto;
      padding: 24px;
      background: linear-gradient(0deg,
       #080807 0%, #080807 100%), #D9D9D9;
       @media (max-width: 1300px) {
        max-width: 380px;
      }
      @media (max-width: 1024px) {
        order: -1;
        max-width: 100%;
        margin-bottom: 24px;
      }
      @media (max-width: 767px) {
        padding: 20px;
       }
      h3{
        margin-bottom: 10px;
        color: #FFF;
        font-family: "Oranienbaum";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 102%;
        text-transform: uppercase;
        @media (max-width: 767px) {
          font-size: 18px;
          margin-bottom: 6px;
         }
      }
      p{
        margin-bottom: 16px;
        color: rgba(255, 255, 255, 0.75);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        @media (max-width: 767px) {
          font-size: 14px;
         }
      }
      form{
        border: 1px solid rgba(255, 255, 255, 0.12);
        position: relative;
        z-index: 0;
        .send{
          width: 32px;
          height: 32px;
          display: flex;
          background: #FF6E00;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 8px;
          &:hover{
            background: lighten(#FF6E00, 5%);
          }
          img{
            margin: auto;
          }
        }
        input{
          padding-left: 16px;
          padding-right: 48px;
          height: 48px;
          width: 100%;
          color: rgba(255, 255, 255, 0.80);
          font-size: 16px;
          font-weight: 400;
          line-height: 130%;
          background: transparent;
          @include placeholder{
            color: rgba(255, 255, 255, 0.40);
            font-size: 16px;
          }
        }
      }
    }
  }
  .pre-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
     }
    a, p{
      color: rgba(10, 10, 10, 0.70);
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
    }
    > a{
      @media (max-width: 767px) {
        margin-top: 8px;
       }
      &:hover{
        color: #FF6E00;
      }
    }
    p{
      @media (max-width: 767px) {
        margin-top: 8px;
       }
      a{
        border-bottom: 1px solid rgba(10, 10, 10, 0.70);
        &:hover{
          color: #FF6E00;
          border-color: #FF6E00;
        }
      }
    }
  }
}

.favorite-icon{
  display: flex;
  position: relative;
  z-index: 0;
  background: rgba(#dfdfdf, 0.58);
  padding: 5px;
  cursor: pointer;
  .icon{
    margin: auto;
    width: 15px;
    height: 15px;
    position: relative;
    z-index: 0;
    display: flex;
    margin-top: 1px;
    &:after{
      content: "";
      width: 15px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url(../img/heart.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: .3s;
    }
    &:before{
      content: "";
      width: 16px;
      height: 14px;
      position: absolute;
      transition: .3s;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url(../img/heart-full.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0;
      z-index: 1;
    }
  }
  &.active{
    .icon{
      &:after{
        opacity: 0;
      }
      &:before{
        opacity: 1;
      }
  }
}
}

.global-title{
  color: #080807;
  font-family: "Oranienbaum";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 102%;
  text-transform: uppercase;
  @media (max-width: 1024px) {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.drop-menu {
  @include dir-col;
  @include justify-center;
  cursor: pointer;
  display: none;

  @media(max-width: 1024px) {
      @include flex;
      margin-left: 12px;
      margin-left: 10px;
      border-radius: 100px;
      background: rgba(8, 8, 7, 0.60);
      backdrop-filter: blur(12px);
      width: 40px;
      height: 40px;
  }

  .line {
      width: 16px;
      height: 2px;
      background-color: #fff;
      display: block;
      margin: 2px auto;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

  }
}

.drop-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
  -ms-transform: translateY(5px) rotate(45deg);
  -o-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}

.drop-menu.is-active .line:nth-child(2) {
  -webkit-transform: translateY(-1px) rotate(-45deg);
  -ms-transform: translateY(-1px) rotate(-45deg);
  -o-transform: translateY(-1px) rotate(-45deg);
  transform: translateY(-1px) rotate(-45deg);
}