.private-policy-wrap{
    padding-top: 90px;
    .wrapper{
        max-width: 980px;
    }
    .texts-info{
        .texts{
            margin-bottom: 24px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
        h1{
            font-size: 80px;
            font-weight: normal;
            color: #0A0A0A;
            margin-bottom: 32px;
            font-family: "Oranienbaum";
            text-transform: uppercase;
            line-height: 105%;
            @media (max-width: 1024px) {
                font-size: 60px;
              }
              @media (max-width: 767px) {
                font-size: 34px;
              }
        }
        h2{
            font-size: 36px;
            font-weight: normal;
            color: #0A0A0A;
            margin-bottom: 12px;
            font-family: "Oranienbaum";
            text-transform: uppercase;
            line-height: 105%;
            @media (max-width: 767px) {
                font-size: 28px;
              }
        }
        h3{
            font-size: 34px;
            font-weight: normal;
            color: #0A0A0A;
            margin-bottom: 12px;
            margin-top: 40px;
            font-family: "Oranienbaum";
            text-transform: uppercase;
            line-height: 105%;
            @media (max-width: 767px) {
                font-size: 27px;
                margin-top: 30px;
              }
        }
        h4{
            font-size: 32px;
            font-weight: normal;
            color: #0A0A0A;
            margin-bottom: 12px;
            margin-top: 40px;
            font-family: "Oranienbaum";
            text-transform: uppercase;
            line-height: 105%;
            @media (max-width: 767px) {
                font-size: 26px;
                margin-top: 30px;
              }
        }
        h5{
            font-size: 30px;
            font-weight: normal;
            color: #0A0A0A;
            margin-bottom: 12px;
            margin-top: 40px;
            font-family: "Oranienbaum";
            text-transform: uppercase;
            line-height: 105%;
            @media (max-width: 767px) {
                font-size: 25px;
                margin-top: 30px;
              }
        }
        h6{
            font-size: 28px;
            font-weight: normal;
            color: #0A0A0A;
            margin-bottom: 20px;
            margin-top: 40px;
            font-family: "Oranienbaum";
            text-transform: uppercase;
            line-height: 105%;
            @media (max-width: 767px) {
                font-size: 24px;
                margin-top: 30px;
              }
        }
        b{
            font-size: 18px;
            font-weight: 600;
            display: block;
            color: #0A0A0A;
            margin-bottom: 8px;
        }
        p{
            margin-bottom: 12px;
            color: rgba(#0A0A0A, .7);
            font-size: 16px;
            font-weight: normal;
            @media (max-width: 767px) {
                font-size: 15px;
              }
        }
        span{
            margin-bottom: 12px;
            color: rgba(#0A0A0A, .7);
            font-size: 16px;
            font-weight: normal;
            @media (max-width: 767px) {
                font-size: 15px;
              }
        }
    }
}

.delivery-payment-wrap{
    padding-top: 90px;
    .wrapper{
        max-width: 980px;
    }
    .delivery-info{
        h1{
            font-size: 80px;
            font-weight: normal;
            color: #0A0A0A;
            margin-bottom: 32px;
            font-family: "Oranienbaum";
            text-transform: uppercase;
            line-height: 105%;
            @media (max-width: 1024px) {
                font-size: 60px;
              }
              @media (max-width: 767px) {
                font-size: 36px;
              }
        }
    }
}

.delivery-items{
    column-count: 2;
    column-gap: 20px;
    @media (max-width: 767px) {
        column-count: 1;
      }
    .delivery-item{
        padding: 28px;
        border: 1px solid #EEEFF0;
        break-inside: avoid;
        margin-bottom: 20px;
        @media (max-width: 1024px) {
            padding: 24px;
          }
        h3{
            text-transform: uppercase;  
            font-size: 36px;
            font-family: "Oranienbaum";
            margin-bottom: 12px;
            font-weight: normal;
            color: #0A0A0A;
            @media (max-width: 1024px) {
                font-size: 32px;
              }
              @media (max-width: 767px) {
               font-size: 28px;
              }
        }
        ul{
            padding-left: 20px;
            margin-bottom: 8px;
            li{
                list-style-type: disc;
                font-size: 16px;
                color: rgba(#0A0A0A, .7);
                margin-bottom: 5px;
                @media (max-width: 767px) {
                    font-size: 15px;
                  }
            }
            &.style2{
                margin-top: 8px;
            }
        }
        p{
            font-size: 16px;
            color: rgba(#0A0A0A, .7);
            @media (max-width: 767px) {
                font-size: 15px;
              }
        }
    }
}

.exchanges-wrap{
    padding-top: 90px;
    .wrapper{
        max-width: 980px;
    }
    .exchanges-info{
        margin-bottom: -24px;
        h1{
            font-size: 80px;
            font-weight: normal;
            color: #0A0A0A;
            margin-bottom: 32px;
            font-family: "Oranienbaum";
            text-transform: uppercase;
            line-height: 105%;
            @media (max-width: 1024px) {
                font-size: 60px;
              }
              @media (max-width: 767px) {
                font-size: 36px;
              }
        }
        h2{
            font-size: 36px;
            font-weight: normal;
            color: #0A0A0A;
            margin-bottom: 12px;
            font-family: "Oranienbaum";
            text-transform: uppercase;
            line-height: 105%;
              @media (max-width: 767px) {
                font-size: 28px;
              }
        }
        p{
            margin-bottom: 24px;
            color: rgba(#0A0A0A, .7);
            font-size: 16px;
        }
        .texts{
            margin-bottom: 24px;
            b{
                display: block;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 8px;
                color: #0A0A0A;
            }
        }
        ul{
            padding-left: 20px;
            li{
                list-style-type: disc;
                font-size: 16px;
                color: rgba(#0A0A0A, .7);
                margin-bottom: 5px;
                @media (max-width: 767px) {
                    font-size: 15px;
                  }
            }
            &.style2{
                margin-top: 8px;
            }
        }
    }
}

.error-block{
    height: 100svh;
    padding-bottom: 40px;
    padding-top: 90px;
    .wrapper{
        display: flex;
        height: 100%;
    }
    .error-info{
        margin-top: auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 1024px) {
            flex-direction: column-reverse;
            margin-top: 0;
            align-items: flex-start;
          }
        h1{
            font-weight: normal;
            max-width: 670px;
            width: 100%;
            text-transform: uppercase;
            color: #0A0A0A;
            font-family: "Oranienbaum";
            font-size: 80px;
            @media (max-width: 1024px) {
              font-size: 60px;
              max-width: 500px;
              }
              @media (max-width: 767px) {
                font-size: 36px;
                max-width: 300px;
              }
            .orange-btn{
                display: inline-flex;
                background: $orange;
                font-size: 16px;
                color: white;
                padding: 16px 28px;
                position: relative;
                top: -20px;
                @media (max-width: 1024px) {
                    top: -15px;
                  }
                  @media (max-width: 767px) {
                    position: static;
                    margin-top: 15px;
                  }
                &:hover{
                    background: lighten($orange, 7%);
                }
            }
        }
        .err-text{
            text-transform: uppercase;
            color: #0A0A0A;
            font-family: "Oranienbaum";
            font-size: 80px;
            font-weight: normal;
        }
    }
}

.contacts-wrap{
    padding-top: 90px;
    h1{
        font-size: 80px;
        font-weight: normal;
        color: #0A0A0A;
        text-align: center;
        margin-bottom: 32px;
        font-family: "Oranienbaum";
        text-transform: uppercase;
        line-height: 105%;
        @media (max-width: 1024px) {
            font-size: 60px;
          }
          @media (max-width: 767px) {
            font-size: 36px;
            text-align: left;
          }
    }
    .contacts-info{
        display: flex;
        gap: 20px;
        @media (max-width: 1024px) {
           flex-direction: column;
          }
        .map-info{
            width: 440px;
            @media (max-width: 1024px) {
                width: 100%;
              }
            .icons{
                display: flex;
                gap: 16px;
                .icon{
                  width: 32px;
                  height: 32px;
                  display: flex;
                  background: #080807;
                  &:hover{
                    background: $orange;
                  }
                  img{
                    margin: auto;
                  }
                }
              }
            .texts{
                margin-bottom: 24px;
                b{
                    display: block;
                    font-size: 16px;
                    color: rgba(#0A0A0A, .7);
                    margin-bottom: 8px;
                    font-weight: normal;
                }
                a, span{
                    font-size: 36px;
                    font-weight: normal;
                    text-transform: uppercase;
                    color: #0A0A0A;
                    font-family: "Oranienbaum";
                    @media (max-width: 767px) {
                        font-size: 28px;
                      }
                }
            }
        }
        #map{
            flex-grow: 1;
            filter: grayscale(100%) contrast(90%) brightness(105%);
            @media (max-width: 1024px) {
                width: 100%;
                height: 80vw;
              }
        }
    }
}

.contacts-form-wrap{
    background: #080807;
    padding: 24px;
    margin-top: 120px;
    @media (max-width: 1024px) {
      margin-top: 40px;
      }
    h3{
        font-family: "Oranienbaum";
        text-transform: uppercase;
        font-size: 36px;
        font-weight: normal;
        color: white;
        margin-bottom: 10px;
        @media (max-width: 767px) {
            font-size: 28px;
          }
    }
    > p{
        font-size: 16px;
        color: rgba(white, .75);
        margin-bottom: 20px;
        @media (max-width: 767px) {
           font-size: 15px;
          }
    }
    .contacts-form{
        .inputs{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 20px;
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
                gap: 12px;
                margin-bottom: 12px;
              }
            input{
                height: 52px;
                width: 100%;
                padding: 0 16px;
                font-size: 18px;
                font-weight: normal;
                color: rgba(white, .7);
                background: transparent;
                border-bottom: 1px solid rgba(white, .2);
                @include placeholder{
                    font-size: 18px;
                    color: rgba(white, .4);
                }
            }
        }
        .button-wrap{
            display: flex;
            align-items: center;
            @media (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
              }
            .send{
                background: $orange;
                border: 1px solid $orange;
                color: white;
                padding: 14px 22px 18px;
                margin-right: 20px;
                height: 52px;
                font-size: 16px;
                &:hover{
                    background: #000;
                }
                @media (max-width: 767px) {
                    margin-bottom: 20px;
                    width: 100%;
                    text-align: center;
                  }
            }
        }
    }
}

.about-title-wrap{
    padding-top: 90px;
    h1{
        font-size: 80px;
        font-weight: normal;
        color: #0A0A0A;
        text-align: center;
        margin-bottom: 32px;
        font-family: "Oranienbaum";
        text-transform: uppercase;
        line-height: 105%;
        @media (max-width: 1024px) {
            font-size: 60px;
          }
          @media (max-width: 767px) {
            font-size: 36px;
            text-align: left;
          }
    }
}

.about-company-block{
    background: url(../img/about-company-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 0;
    height: 55vw;
    position: relative;
    z-index: 0;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(black, .4);
    }
    @media (max-width: 1024px) {
       height: auto;
      }
    @media (max-width: 767px) {
       padding-bottom: 28px;
       margin-top: 35px;
      }
    .wrapper{
        display: flex;
        height: 100%;
    }
    .texts{
        max-width: 670px;
        width: 100%;
        @media (max-width: 1024px) {
           padding-bottom: 420px;
          }
        h3{
            color: #FFF;
            font-family: "Oranienbaum";
            font-size: 44px;
            font-style: normal;
            font-weight: 400;
            line-height: 102%;
            text-transform: uppercase;
            margin-bottom: 12px;
            @media (max-width: 767px) {
                font-size: 36px;
              }
        }
        p{
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
            @media (max-width: 767px) {
                font-size: 15px;
                max-width: 320px;
              }
        }
    }
}

.our-mission{
    padding: 80px 0;
    @media (max-width: 1024px) {
       padding: 60px 0;
       }
    .our-mission-info{
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 1024px) {
           flex-direction: column;
           align-items: flex-start;
           }
        .text-wrap{
            width: 440px;
            @media (max-width: 1024px) {
                width: 100%;
               }
            h2{
                font-size: 48px;
                font-weight: normal;
                margin-bottom: 20px;
                text-transform: uppercase;
                color: #0A0A0A;
                font-family: "Oranienbaum";
                @media (max-width: 767px) {
                    font-size: 36px;
                   }
            }
            p{
                font-size: 16px;
                color: rgba(#0A0A0A, .7);
                @media (max-width: 767px) {
                    font-size: 15px;
                   }
            }
        }
        .img-wrap{
            display: flex;
            @media (max-width: 1024px) {
                width: 100%;
               }
            img{
                width: 100%;
            }
        }
    }
}

.values-block{
    padding-bottom: 80px;
    @media (max-width: 1024px) {
       padding-bottom: 60px;
    }
    .values-info{
        display: flex;
        gap: 20px;
        @media (max-width: 1024px) {
           flex-direction: column-reverse;
         }
        .img-wrap{
            flex-grow: 1;
            display: flex;
            align-self: flex-start;
            @media (max-width: 1024px) {
                width: 100%;
             }
            img{
                width: 100%;
            }
        }
        .text-wrap{
            width: 440px;
            @media (max-width: 1024px) {
                width: 100%;
             }
            h2{
                font-size: 48px;
                line-height: 100%;
                font-weight: normal;
                margin-bottom: 20px;
                text-transform: uppercase;
                color: #0A0A0A;
                font-family: "Oranienbaum";
                @media (max-width: 767px) {
                    font-size: 36px;
                }
            }
        }
    }
}

.values-items{
    gap: 18px;
    display: grid;
    grid-template-columns: 1fr;
    .values-item{
       padding: 20px;
       background: #F7F7F7;
       b{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 1px;
        display: block;
        color: #080807;
       }
       span{
        font-size: 16px;
        color: rgba(#0A0A0A, .7);
        max-width: 385px;
        display: inline-block;
       }
    }
}

.what-offer{
    .global-title{
        margin-bottom: 32px;
        @media (max-width: 1024px) {
            margin-bottom: 20px;
         }
    }
    .offer-items{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media (max-width: 1200px) {
            grid-template-columns: 1fr 1fr;
         }
        @media (max-width: 767px) {
            grid-template-columns: 1fr;
         }
        .offer-item{
            padding: 24px;
            background: #F7F7F7;
            min-height: 325px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media (max-width: 1200px) {
                min-height: 220px;
             }
             @media (max-width: 767px) {
                padding: 20px;
                min-height: auto;
             }
            img{
                margin-bottom: 20px;
                @media (max-width: 767px) {
                    margin-bottom: 10px;
                 }
            }
            b{
                margin-top: auto;
                display: block;
                margin-bottom: 12px;
                font-size: 18px;
                font-weight: bold;
                color: #080807;
            }
            span{
                font-size: 16px;
                color: rgba(#0A0A0A, .7);
            }
        }
    }
}